<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/kelolaAkun.css">
    <title>Kelola Akun</title>
</head>
<body>

    <header>
        <%- include('./layout/head.ejs') %>
    </header>

    <div class="kelolaAkunContainer">
        <div class="kelolaAkunTop">
            <h3>Icon</h3>
            <h3>Kelola Akun</h3>

            <div class="searchAkun">
                <form method="GET" action="/">
                    <fieldset>
                        <legend>Search by Name</legend>
                        <input type="text" name="filter" value="<%= %>">
                        <input type="submit" class="submitAkun" value="SEARCH">
                    </fieldset>
                </form>
            </div>
        </div>

        <br>

        <div class="kelolaAkunMain">
                <div class="innerMain">
                    <% for(const row of results) { %>
                    <a class="wrapper" href="">
                        <div class="innerMain1">
                            <img src="assets/images/adminIcon.jpg" class="adminIcon" alt="">
                            <h3><%= row.namaD %></h3>
                            <div class="containerButton">
                                <input type="submit" id="buttonEdit" onclick="redirect" value="Edit">
                            </div>
                        </div>
                    </a>
                    <% } %>
                </div>
        </div>
    

    </div>

    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>
    
</body>
</html>