<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unggah Topik</title>
    <link rel="stylesheet" href="assets/unggahTopik.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <%- include('./layout/head.ejs') %>
    </header>

    <div class="unggahContainer">

            <div class="unggahTop">
                <h3>Icon</h3>
                <h3>Unggah Topik Skripsi</h3>
    
                <p class="dueDateUnggah">Due/05/2022</p>
            </div>

        <br>
        <div class="unggahMain">
            
            <div class="formUnggah">
                <div class="alert">
                </div>
                <form method = POST action="/unggahTopik">
                    <fieldset>
                        <label for="Judul" class="judul" >Judul</label>
                        <input type="text" name = "judulT">
                        <label for="bidangPeminatan">Bidang Peminatan</label>
                        <select name="peminatan" id="">
                            <option value="Data Science">Data Science</option>
                            <option value="Computing Science">Computing Science</option>
                        </select>
                        <label for="tipe">Tipe Skripsi</label>
                        <select name="tipeSkripsi" id="">
                            <option value="bintang">*</option>
                            <option value="reguler">Reguler</option>
                        </select>
                        <label for="UploadFile">Upload File</label>
                        <input type="file" id="fileSkripsi">
                        <br>
                        <input type="submit" class="submitSkripsi" onclick="cekInput()">
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>

</body>
</html>